<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 启用应用启动设备发现或者操作蓝牙设备的超级管理员 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.activity.timber.TimberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.android13.OnBackInvokedCallbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.view.typewriter.TypewriterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.di.kodein.KodeinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.di.koin.KoinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.di.hilt.HiltActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.di.dagger2.Dagger2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.android13.IntentMatchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.android13.ClipboardSensitiveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.android13.NewPermissionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.exercise.android13.permissions" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.A" />
                <category android:name="android.intent.category.B" />
                <category android:name="android.intent.category.C" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.android13.PostNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.jetpack.draganddrop.DragAndDropActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.kotlin.SerializationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.bitmap.subsampling.SubsamplingScaleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.bitmap.regiondecoder.BitmapRegionDecoderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.motion.CoordinateMotionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.motion.WaveMotionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.motion.LoadingBallActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.motion.MotionLayoutActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.view.SwipeCloseActivity" />
        <activity android:name=".ui.activity.ipc.messenger.MessengerActivity" />
        <activity android:name=".ui.activity.md5.MD5Activity" />
        <activity android:name=".ui.activity.kotlin.CoroutinesActivity" />
        <activity android:name=".ui.activity.jetpack.datastore.DataStoreActivity" />
        <activity android:name=".ui.activity.database.LitePalActivity" />
        <activity android:name=".ui.activity.android11.ToastCompatActivity" />
        <activity android:name=".ui.activity.android11.TelephonyCompatActivity" />
        <activity android:name=".ui.activity.android11.ScopedStorageActivity" />
        <activity android:name=".ui.activity.bluetooth.BluetoothActivity" />
        <activity android:name=".ui.activity.wifi.WifiActivity" />
        <activity android:name=".ui.activity.websocket.WebSocketActivity" />
        <activity android:name=".ui.activity.hook.HookActivity" />
        <activity android:name=".ui.activity.shared_elements.SharedDetailActivity" />
        <activity android:name=".ui.activity.shared_elements.SharedElementsActivity" />
        <activity android:name=".ui.activity.bitmap.LargeImageActivity" />
        <activity android:name=".ui.activity.bitmap.BitmapOptimizeActivity" />
        <activity android:name=".ui.activity.circle.CircleImageActivity" />
        <activity android:name=".ui.activity.adapter.LoadMoreActivity" />
        <activity android:name=".ui.activity.layer.MultiLayerActivity" />
        <activity android:name=".ui.activity.mmkv.MMKVActivity" />
        <activity android:name=".ui.activity.biometric.BiometricActivity" />
        <activity android:name=".ui.activity.jetpack.lifecycle.LifecycleActivity" />
        <activity android:name=".ui.activity.jetpack.databinding.DataBindingActivity" />
        <activity android:name=".ui.activity.jetpack.navigation.NavigationActivity" />
        <activity android:name=".ui.activity.jetpack.room.RoomActivity" />
        <activity android:name=".ui.activity.jetpack.work.WorkManagerActivity" />
        <activity android:name=".ui.activity.database.ObjectBoxActivity" />
        <activity android:name=".ui.activity.player.IjkPlayerActivity" />
        <activity android:name=".ui.activity.player.ExoPlayerActivity" />
        <activity android:name=".ui.activity.view.HtmlRichTextActivity" />
        <activity android:name=".ui.activity.download.DownloadActivity" />
        <activity android:name=".ui.activity.calendar.CalendarActivity" />
        <activity android:name=".ui.activity.touch.MultiTouchActivity" />
        <activity android:name=".ui.activity.ViewSwitchActivity" />
        <activity android:name=".ui.activity.view.RefreshLayoutActivity" />
        <activity android:name=".ui.activity.stream.FileStreamActivity" />
        <activity android:name=".ui.activity.hashmap.HashMapTreeifyActivity" />
        <activity android:name=".ui.activity.queue.PriorityQueueActivity" />
        <activity android:name=".ui.activity.queue.TaskSequenceActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RetrofitActivity" />
        <activity android:name=".ui.activity.view.HtmlActivity" />
        <activity android:name=".ui.activity.view.RecyclerActivity" />
        <activity android:name=".ui.activity.view.SlidingMenuActivity" />
        <activity android:name=".ui.activity.view.FlowLayoutActivity" />
        <activity android:name=".ui.activity.AutoServiceActivity" /> <!-- 自动化辅助服务 -->
        <service
            android:name=".service.AutoService"
            android:exported="false"
            android:label="自动化辅助服务测试"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service> <!-- QQ自动发消息辅助服务 -->
        <service
            android:name=".service.QQAutoService"
            android:exported="false"
            android:label="QQ自动发消息"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/qq_accessibility" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.Anim24hActivity" />
        <activity android:name=".ui.activity.ThreadPoolActivity" />
        <activity android:name=".ui.activity.DispatchActivity" />
        <activity android:name=".ui.activity.view.DrawerSlideActivity" />
        <activity android:name=".ui.activity.AndServerActivity" />
        <activity android:name=".ui.activity.MinaActivity" />
        <activity android:name=".ui.activity.view.RippleActivity" />
        <activity android:name=".ui.activity.view.ViewActivity" />
        <activity android:name=".ui.activity.RxJavaActivity" />

        <service android:name=".service.PollService" />

        <receiver
            android:name=".service.StartupReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GInsightReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.getui.gis.action.100" />
                <action android:name="com.getui.gis.action.200" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotifyPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.exercise.push.click" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.WindowActivity" />
        <activity android:name=".ui.activity.TextLinkActivity" />
        <activity android:name=".ui.activity.view.RecyclerTouchActivity" />
        <activity android:name=".ui.activity.RecorderActivity" />
        <activity android:name=".ui.activity.view.FloorActivity" />
        <activity android:name=".ui.activity.view.EditViewActivity" />
        <activity android:name=".ui.activity.WaveActivity" />
        <activity android:name=".ui.activity.view.AnimViewActivity" />
        <activity android:name=".ui.activity.view.PorterDuffActivity" />
        <activity android:name=".ui.activity.view.ScrollActivity" />
        <activity android:name=".ui.activity.view.ViewAnimationActivity" />
        <activity android:name=".ui.activity.view.FrameAnimationActivity" />
        <activity android:name=".ui.activity.view.ElasticActivity" />
        <activity android:name=".ui.activity.BroadcastActivity" />
        <activity android:name=".ui.activity.PageSwitchActivity" />
        <activity android:name=".ui.activity.view.ADWindowActivity" />
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RuntimeAnnotationActivity" />
        <activity android:name=".ui.activity.TextFormatActivity" />
        <activity android:name=".ui.activity.view.HoverRecyclerViewActivity" />
        <activity android:name=".ui.activity.view.TikTokActivity" />
        <activity android:name=".ui.activity.view.StateButtonActivity" />
        <activity android:name=".ui.activity.NotificationActivity" />

        <receiver
            android:name=".NewsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.exercise.widget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.activity.view.InvokeAppActivity" />
        <activity android:name=".ui.activity.view.PathActivity" />
        <activity android:name=".ui.activity.view.PathMeasureActivity" />
        <activity android:name=".ui.activity.view.PathSearchActivity" />
        <activity android:name=".ui.activity.AppOptActivity" />
        <activity android:name=".ui.activity.BitOptActivity" />
        <activity android:name=".ui.activity.VideoRecordActivity" />
        <activity
            android:name=".ui.activity.LimitedVideoActivity"
            android:theme="@style/AppTheme.FullScreen" />

        <service
            android:name=".ui.activity.ipc.messenger.MessengerService"
            android:process=":messenger" />
    </application>

</manifest>