<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.exercise">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RealmActivity" />
        <activity android:name=".ui.activity.GreendaoActivity" />
        <activity android:name=".ui.activity.RetrofitActivity" />
        <activity android:name=".ui.activity.HtmlActivity" />
        <activity android:name=".ui.activity.RecyclerActivity" />
        <activity android:name=".ui.activity.SlidingMenuActivity" />
        <activity android:name=".ui.activity.FlowLayoutActivity" />
        <activity android:name=".ui.activity.AutoServiceActivity" />

        <!-- 自动化辅助服务 -->
        <service
            android:name=".service.AutoService"
            android:label="自动化辅助服务测试"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.Anim24hActivity" />
        <activity android:name=".ui.activity.OKHttpActivity" />
        <activity android:name=".ui.activity.ThreadPoolActivity" />
        <activity android:name=".ui.activity.DispatchActivity" />
        <activity android:name=".ui.activity.ConstraintLayoutActivity" />
        <activity android:name=".ui.activity.DrawerSlideActivity" />
        <activity android:name=".ui.activity.AndServerActivity" />
        <activity android:name=".ui.activity.AIDLActivity" />

        <service
            android:name=".service.IRemoteService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.MinaActivity" />
        <activity android:name=".ui.activity.RippleActivity" />
        <activity android:name=".ui.activity.ViewActivity" />
        <activity android:name=".ui.activity.RxJavaActivity" />

        <service android:name=".service.PollService" />

        <receiver android:name=".service.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.WindowActivity" />
        <activity android:name=".ui.activity.TextLinkActivity" />
        <activity android:name=".ui.activity.RecyclerTouchActivity"></activity>
    </application>

</manifest>