<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.exercise">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.shared_elements.SharedDetailActivity"></activity>
        <activity android:name=".ui.activity.shared_elements.SharedElementsActivity" />
        <activity android:name=".ui.activity.merge_adapter.MergeAdapterActivity" />
        <activity android:name=".ui.activity.memory.LargeImageActivity" />
        <activity android:name=".ui.activity.memory.BitmapOptimizeActivity" />
        <activity android:name=".ui.activity.circle.CircleImageActivity" />
        <activity android:name=".ui.activity.adapter.LoadMoreActivity" />
        <activity android:name=".ui.activity.layer.MultiLayerActivity" />
        <activity android:name=".ui.activity.mmkv.MMKVActivity" />
        <activity android:name=".ui.activity.biometric.BiometricActivity" />
        <activity android:name=".ui.activity.jetpack.viewmodel.ViewModelActivity" />
        <activity android:name=".ui.activity.jetpack.lifecycle.LifecycleActivity" />
        <activity android:name=".ui.activity.jetpack.databinding.DataBindingActivity" />
        <activity android:name=".ui.activity.jetpack.navigation.NavigationActivity" />
        <activity android:name=".ui.activity.jetpack.room.RoomActivity" />
        <activity android:name=".ui.activity.jetpack.work.WorkManagerActivity" />
        <activity android:name=".ui.activity.database.ObjectBoxActivity" />
        <activity android:name=".ui.activity.player.IjkPlayerActivity" />
        <activity android:name=".ui.activity.player.ExoPlayerActivity" />
        <activity android:name=".ui.activity.HtmlRichTextActivity" />
        <activity android:name=".ui.activity.download.DownloadActivity" />
        <activity android:name=".ui.activity.calendar.CalendarActivity" />
        <activity android:name=".ui.activity.touch.MultiTouchActivity" />
        <activity android:name=".ui.activity.ViewSwitchActivity" />
        <activity android:name=".ui.activity.RefreshLayoutActivity" />
        <activity android:name=".ui.activity.stream.FileStreamActivity" />
        <activity android:name=".ui.activity.hashmap.HashMapTreeifyActivity" />
        <activity android:name=".ui.activity.queue.PriorityQueueActivity" />
        <activity android:name=".ui.activity.queue.TaskSequenceActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.database.RealmActivity" />
        <activity android:name=".ui.activity.RetrofitActivity" />
        <activity android:name=".ui.activity.HtmlActivity" />
        <activity android:name=".ui.activity.RecyclerActivity" />
        <activity android:name=".ui.activity.SlidingMenuActivity" />
        <activity android:name=".ui.activity.FlowLayoutActivity" />
        <activity android:name=".ui.activity.AutoServiceActivity" /> <!-- 自动化辅助服务 -->
        <service
            android:name=".service.AutoService"
            android:label="自动化辅助服务测试"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service> <!-- QQ自动发消息辅助服务 -->
        <service
            android:name=".service.QQAutoService"
            android:label="QQ自动发消息"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/qq_accessibility" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.Anim24hActivity" />
        <activity android:name=".ui.activity.OKHttpActivity" />
        <activity android:name=".ui.activity.ThreadPoolActivity" />
        <activity android:name=".ui.activity.DispatchActivity" />
        <activity android:name=".ui.activity.ConstraintLayoutActivity" />
        <activity android:name=".ui.activity.DrawerSlideActivity" />
        <activity android:name=".ui.activity.AndServerActivity" />
        <activity android:name=".ui.activity.AIDLActivity" />

        <service
            android:name=".service.IRemoteService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.MinaActivity" />
        <activity android:name=".ui.activity.RippleActivity" />
        <activity android:name=".ui.activity.ViewActivity" />
        <activity android:name=".ui.activity.RxJavaActivity" />

        <service android:name=".service.PollService" />

        <receiver android:name=".service.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.GInsightReceiver">
            <intent-filter>
                <action android:name="com.getui.gis.action.100" />
                <action android:name="com.getui.gis.action.200" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotifyPushReceiver">
            <intent-filter>
                <action android:name="com.android.exercise.push.click" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.WindowActivity" />
        <activity android:name=".ui.activity.TextLinkActivity" />
        <activity android:name=".ui.activity.RecyclerTouchActivity" />
        <activity android:name=".ui.activity.RecorderActivity" />
        <activity android:name=".ui.activity.FloorActivity" />
        <activity android:name=".ui.activity.EditViewActivity" />
        <activity android:name=".ui.activity.WaveActivity" />
        <activity android:name=".ui.activity.AnimViewActivity" />
        <activity android:name=".ui.activity.PorterDuffActivity" />
        <activity android:name=".ui.activity.ScrollActivity" />
        <activity android:name=".ui.activity.ViewAnimationActivity" />
        <activity android:name=".ui.activity.FrameAnimationActivity" />
        <activity android:name=".ui.activity.ElasticActivity" />
        <activity android:name=".ui.activity.BroadcastActivity" />
        <activity android:name=".ui.activity.PageSwitchActivity" />
        <activity android:name=".ui.activity.ADWindowActivity" />
        <activity android:name=".ui.activity.BrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RuntimeAnnotationActivity" />
        <activity android:name=".ui.activity.CompileAnnotationActivity" />
        <activity android:name=".ui.activity.TextFormatActivity" />
        <activity android:name=".ui.activity.HoverRecyclerViewActivity" />
        <activity android:name=".ui.activity.TikTokActivity" />
        <activity android:name=".ui.activity.StateButtonActivity" />
        <activity android:name=".ui.activity.NotificationActivity" />

        <receiver android:name=".NewsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.exercise.widget" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.activity.InvokeAppActivity" />
        <activity android:name=".ui.activity.PathActivity" />
        <activity android:name=".ui.activity.PathMeasureActivity" />
        <activity android:name=".ui.activity.PathSearchActivity" />
        <activity android:name=".ui.activity.AppOptActivity" />
        <activity android:name=".ui.activity.BitOptActivity" />
        <activity android:name=".ui.activity.ImageRecyclerActivity" />
        <activity android:name=".ui.activity.ImageHtmlActivity" />
        <activity android:name=".ui.activity.VideoRecordActivity" />
        <activity
            android:name=".ui.activity.LimitedVideoActivity"
            android:theme="@style/AppTheme.FullScreen" />
    </application>

</manifest>